@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

:root {
    --border: solid 1px red;
}

.body-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
}

.svg {
    width: 20px;
    height: 20px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/*header, aside, main {
    border: var(--border);
}*/

/*header*/
header {
    border: solid black 1px;
    grid-column: 2 / span 2;
    grid-row: 1 / 1;
}

.search-area {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    margin-top: 10px;
}

/*.search-btn, .notification-area {

}*/

.search-btn {
    width: 70%;
    height: 51px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.search-input {
    width: 80%;
    margin-left: 10px;
    height: 20px;
    border: none;
    border-radius: 25px;
    background-color: #e5e8ec;
}


.notification-area {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile {
   padding-left: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.profile-name {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
}

.profile-name > .profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile-name > p {
    font-weight: 900;
    font-size: small;
}

.profile-name > p > span {
    font-size: large;
}

.profile-upload {
    margin-right: 10px;
}

.profile-btn {
    height: 30px;
    width: 100px;
    margin: 0 10px;
    border-radius: 30px;
    border: none;
    background-color: #497ff3;
    color: white;

}


/*************************************/

/*aside*/
aside {
    border: red solid 1px;
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
}




/***************************************/
/*main*/
main {
    border: solid blue 1px;
    grid-column: 2 / span 2;
    grid-row: 2 / 2;
}