@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto", sans-serif;
}

/*header section*/
.header-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    /*padding: 50px;*/
    height: 600px;
}

.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*border: solid 1px red;*/
    margin: 0 200px;
    margin-left: 260px;
    height: 100px;
}

.logo-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.logo-header nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.nav-btn li {
    list-style: none;
    font-size: 20px;
}

.nav-btn li a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
    margin-left: 260px;
    /*border: solid 1px red;*/
}

.short-intro {

}

.intro-image {
    width: 420px;
    height: 290px;
    object-fit:cover;
    margin-top: 40px;
}

.short-intro h2 {
    width: 350px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 0px;
    margin-top: 0px;
}

.short-intro p {
    width: 410px;
    color:  #E5E7EB;
    font-size: 18px;
    margin-top: 2px;
    margin-bottom: 0px;
}

.signup-btn {
    background-color: #3882F6;
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-top: 10px;
}

.signup-btn:hover {
    cursor: pointer;
}

/*info section*/
/*customer-review-section*/
/*signup section*/
/*footer*/
